name: CI Pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install bandit pytest httpx

      - name: Run Bandit
        run: |
          echo "Running Bandit..."
          bandit -r app || exit 1

      - name: Run tests
        run: |
          echo "Running pytest..."
          pytest --disable-warnings -v || exit 1

      - name: Success message
        if: success()
        run: echo "nota: 5.0"


